**/data/
**/env/
**/.vscode/
**/results/
**/.ipynb_checkpoints/
**/__pycache__/
**/outputs_test/
*.zip
**/TemporallyAwarePooling/models/
**/wandb/
SoccerNetv2-Devkit/Task1-ActionSpotting/TemporallyAwarePooling/models/
